<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Self Appraisal Form - KSRIET</title>
    <link rel="stylesheet" href="registration.css">
  </head>
 <header>
	<img style="width: 1000px;" src="Screenshot 2022-09-10 212840.jpg" alt="">
</header>
<style>
	:root {
	/* COLORS */
	--white: #e9e9e9;
	--gray: #333;
	--blue: #0367a6;
	--lightblue: #008997;

	/* RADII */
	--button-radius: 0.7rem;

	/* SIZES */
	--max-width: 758px;
	--max-height: 420px;

	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	align-items: center;
	background-color: var(--white);
	background: url("https://ksriet.ac.in/admin/uploads/slider/1592672598campus-1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}
.container{
	max-width: 500px;
	width: 100%;
	border-radius: var(--button-radius);
	border-color: #008997;
	background-color: var(--white);
	padding: 30px;
	box-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}
.container .title
{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 25px;
	color: var(--blue)
	text-transform: uppercase;
	text-align: center;

}
.container .form .form-group
{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}
.container .form .form-group label{
	width: 200px;
	margin-right: 10px;
	font-style: sans-serif;
	font-size: 14px;
	font-weight: 700;
}
.container .form .form-group .form-control{
	width: 100%;
	outline:none;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
	transition: all 0.5s ease;
	background-color: #fff;
	border: 1px solid;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
}
.container .form .form-group .form-control:focus{
	border: 1px solid black;
}
.container .form .form-group .btn
{
	width: 100%;
	border: 0;
	outline: none;
	background-color: var(--blue);
	background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
	border-radius: 20px;
	border: 1px solid var(--blue);
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.error
{
	color:red;
	font-weight:bold;
	text-align:center;
	padding:10px;
}
.good{
	color:green;
	font-weight:bold;
	text-align:center;
	padding:10px;


}

</style>



<body>
	<div class = "header">
		<h2> SELF APPRAISAL FORM</h2>
	</div>
	<!--<img src="https://ksriet.ac.in/admin/uploads/general/1591201317ksiet-logonew.png" alt="">
	<img src="https://ksriet.ac.in/admin/uploads/general/1649418892naac-a-plus.png" alt="" >
	<h3>Self Appraisal Form</h3>-->
	<!-- Sign Up -->
	<div class="container">
		<div class="title">
			REGISTRATION FORM
		</div>
        {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
		<form action="/auth/register" method="post">
		<div class="form">
			<div class="form-group">
				<label for="facultyid">Faculty Id</label>
				<input type="text" class="form-control"id="Faculty Id" name="facultyid"/>
			</div>

			<div class="form-group">
				<label for="Name">Name</label>
				<input type="text" class="form-control"id="Name" name="Name"required/>
			</div>
			<div class="form-group">
				<label for="department">Department</label>
				<input type="text" class="form-control"id="department" name="department"required/>
			</div>
			<div class="form-group">
				<label for="designation">Designation</label>
				<input type="text" class="form-control"id="designation" name="designation"required/>

			</div>
			<div class="form-group">
				<label for="totalexperience">Total Experience</label>
				<input type="text" class="form-control"id="totalexperience" name="totalexperience"required/>
			</div>
			<div class="form-group">
				<label for="dob">Date of Birth</label>
				<input type="date" class="form-control"id="dob" name="dob"required/>
			</div>
			<div class="form-group">
				<label for="doj">Date of joining</label>
				<input type="date" class="form-control"id="doj" name="doj"required/>
			</div>
			<div class="form-group">
				<label for="mobileno">Mobile No</label>
				<input type="phone" class="form-control"id="mobileno" name="mobileno"required/>
			</div>
			<div class="form-group">
				<label for="email">E-mail</label>
				<input type="email" class="form-control"id="email" name="email"required/>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control"id="password" name="password"required/>
			</div>
			<div class="form-group">
				<label for="password">Confirm Password</label>
				<input type="password" class="form-control"id="cpassword" name="cpassword"required/>
			</div>
			<div class="form-group">
				<input type="submit" value="REGISTER" class="btn">
			</div>
		</div>

		</form>
	</div>




