:root {
	/* COLORS */
	--white: #e9e9e9;
	--gray: #333;
	--blue: #0367a6;
	--lightblue: #008997;

	/* RADII */
	--button-radius: 0.7rem;

	/* SIZES */
	--max-width: 758px;
	--max-height: 420px;

	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
*{
	margin: 0;
	box-sizing: border-box;
}

body {
	align-items: center;
	background-color: var(--white);
	background: url("https://ksriet.ac.in/admin/uploads/slider/1592672598campus-1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}
h2{
	margin: 16px;
}
.container{
	margin-top: 100px;
	padding: 32px;
}
.select-box{
	display: flex;
	width: 400px;
	flex-direction: column;
}
.select-box .options-container{
	background: #F5F5F5;
	color: #4169E1;
	font-weight: 700;
	max-height: 0;
	width: 100%;
	opacity: 0;
	transition: all 0.4s;
	border-radius: 8px;
	overflow: hidden;
	order: 1;

}
.selective{
	background:royalblue;
	border-radius: 8px;
	margin-bottom: 8px;
	color: white;
	position: relative;
	font-weight: 700;
	order: 0;
}
.selective::after{
	content: "";
	background: url("https://static.thenounproject.com/png/551749-200.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	width: 22px;
	right: 10px;
	top: 15px;
	transition: all 0.4s;
}
.select-box .options-container.active{
	max-height: 400px;
	opacity: 2;
}
.select-box .options-container.active + .selective::after{
	transform: rotateX(180deg);
	top: -6px;

}
.select-box .option,
.selective
{
	padding: 14px 26px;
	cursor: pointer;
}
.select-box .option:hover{
	background:lightblue;

}

.select-box label{
	cursor: pointer;
}
.select-box .option .radio{
	display: none;

}




