<div class="fs_div1" [ngStyle]="{background:'url(.../assets/image/1592672598campus-1.jpg)'}">
    <h2>
        Self Appraisal Form</h2>
    <div class="container right-panel-active">
        <!-- Sign Login -->
        <div class="container__form container--signup">
            <div class="form">
                <form [formGroup]="userForm" (ngSubmit)="login()" novalidate>

                    <h2 class="form__title">Login</h2>

                    <input type="facultyid" [(ngModel)]="facultyid" placeholder="Faculty ID" class="input" formControlName="facultyid" />
                    <div class="invalid-feedback" *ngIf="f.facultyid.touched">
                        <div *ngIf="f.facultyid.errors?.required">Faculty ID is required</div>
                        <div *ngIf="f.facultyid.errors?.pattern || f.facultyid.errors?.facultyid">Enter valid Faculty ID</div>
                    </div>

                    <input type="password" [(ngModel)]="password" placeholder="Password" class="input" formControlName="password" />
                    <div class="invalid-feedback">
                        <div *ngIf="f.password.touched && f.password.errors?.required">
                            Password Required
                        </div>
                        <div *ngIf="f.password.errors?.['pattern']">
                            Check your Password
                        </div>
                    </div>
                    <br>
                    <br>
                    <input class="btn" type="submit" value="Login" [disabled]="!userForm.valid" />
                    <hr>

                    <a href="#" class="link">Forgot password?</a>
                </form>

            </div>
        </div>


        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <h3 class="form__title">New User?</h3>
                    <button class="btn" (click)="goto()">Sign Up Here</button>
                </div>
                <!--<div class="overlay__panel overlay--right">
				<button class="btn" id="signUp">Sign Up</button>
			</div>-->
            </div>
        </div>
    </div>
    <marquee behavior="" direction="">Designed and developed by : G VISHNUDHASAN, A RAGUL, M SOWNDARYA - II CSE</marquee>
</div>
