<!-- <div *ngFor="let mObj of subObj">
    <h1 (click)="set(mObj.value)">{{mObj.name}}</h1>
</div>

<div *ngIf="tag1 == '1'">
    TEST 1
</div>
<div *ngIf="tag1 == '2'">
    TEST 2
</div>
    
<div *ngIf="tag1 == '3'">
    TEST3
</div> -->

<div class="container">
    <div class="select-box">
        <div class="selective">SELECT YOUR CATEGORY</div>
        <!-- active -->
        <div class="options-container active">
            <div class="option" *ngFor="let mObj of subObj">
                <div (click)="goto(mObj.link)">
                    <input type="radio" class="radio" name="mObj.name" />
                    <label for="lfyears">{{mObj.name}}</label>
                </div>
            </div>
        </div>
    </div>
</div>