<div class="container">
    <div class="select-box">
        <div class="selective">SELECT YOUR CATEGORY</div>
        <div class="options-container active">
            <div *ngFor="let mObj of subObj">
                <div class="option">
                    <div (click)="goto(mObj.link)">
                        <label>{{mObj.name}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div *ngFor="let mObj of subObj">
    <h1 (click)="set(mObj.value)">{{mObj.name}}</h1>
</div>

<div *ngIf="tag1 == '1'">
    TEST 1
</div>
<div *ngIf="tag1 == '2'">
    TEST 2
</div>
    
<div *ngIf="tag1 == '3'">
    TEST3
</div> -->