<div class = "header" style="text-align: center;">
    <img style="width: 1000px;" src="Screenshot 2022-09-10 212840.jpg" alt="">
</div>
<br>
<br>
<div class="acad" style="text-align: center;">
    <hr>
        <h3>Academic activities - 400</h3>
        <a href="lessthan5_subcategory_aa.html">Click here to fill the sub-category</a>
    <hr>
</div>

<table align="center" border="1" width="100%">
    <thead>
        <tr>
            <th>Academic Performance Parameters</th>
            <th colspan="20">Max. Score</th>
            <th colspan="20">Obtained Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Standard of Class notes</td>
            <td colspan="20">40</td>
            <td colspan="20"></td>
        </tr>
        <tr>
            <td>Preparation of video materials</td>
            <td colspan="20">20</td>
            <td colspan="20"></td>
        </tr>
        <tr>
            <td>Standard of IA / Assignment / Tutorial QP</td>
            <td colspan="20">20</td>
            <td colspan="20"></td>
        </tr>
        <tr>
            <td>Innovation in Teaching and Learning</td>
            <td colspan="20">20</td>
            <td colspan="20"></td>
        </tr>
        <tr>
            <td>Students Feedback</td>
            <td colspan="20">20</td>
            <td colspan="20"></td>
        </tr>
        <tr>
            <td>Submission of Course files</td>
            <td colspan="20">20</td>
            <td colspan="20"></td>
        </tr>
        <tr>
            <td>Performance in Internal Assessments</td>
            <td colspan="20">80</td>
            <td colspan="20"></td>
        </tr>
        <tr>
            <td>Performance in End Semester Exams</td>
            <td colspan="20">80</td>
            <td colspan="20"></td>
        </tr>
        <tr>
            <td>Effectiveness in Lab conduction</td>
            <td colspan="20">60</td>
            <td colspan="20"></td>
        </tr>
        <tr>
            <td>Impact of mentoring in academic performance</td>
            <td colspan="20">40</td>
            <td colspan="20"></td>
        </tr>
    </tbody>
    <tfoot>
        <th colspan="30" rowspan="5">Total: </th>
    </tfoot>
</table>
<div class="acad" style="text-align: center;">
    <hr>
        <h3>Skill Development Activities - 200</h3>
        <a href="lessthan5_subcategory_sda.html">Click here to fill the sub-category</a>
    <hr>
</div>

<table align="center" border="1" width="100%">
    <thead>
        <tr>
            <th>Academic Performance Parameters</th>
            <th colspan="20">Max. Score</th>
            <th colspan="20">Obtained Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Industrial Training Undergone</td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Academic activities in collaboration with Industries</td>
            <td colspan="20">40</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Initiatives on Industrial collaboration</td>
            <td colspan="20">60</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Value Added Courses Conducted by Faculty</td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Impact of mentoring in Skill Development</td>
            <td colspan="20">60</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        
    </tbody>
    <tfoot>
        <th colspan="30" rowspan="5">Total: </th>
    </tfoot>
</table>
<div class="acad" style="text-align: center;">
    <hr>
        <h3>Research & Development Activities - 200</h3>
        <a href="lessthan5_subcategory_rda.html">Click here to fill the sub-category</a>
    <hr>
</div>

<table align="center" border="1" width="100%">
    <thead>
        <tr>
            <th>Academic Performance Parameters</th>
            <th colspan="20">Max. Score</th>
            <th colspan="20">Obtained Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Certificate Courses Completed (NPTEL / SWAYAM / etc)</td>
            <td colspan="20">40</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>FDP /Workshop/Seminar attended</td>
            <td colspan="20">40</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Journal Publications</td>
            <td colspan="20">40</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Conference / Technical Book Publications</td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Seminar / Workshop proposals Submitted to Funding Agency</td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Grants Recieved from Funding Agencies</td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>PATENTS / Consultancy works</td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        
    </tbody>
    <tfoot>
        <th colspan="30" rowspan="5">Total: </th>
    </tfoot>
</table>
<div class="acad" style="text-align: center;">
    <hr>
        <h3>Administrative & Extension Activities - 100</h3>
        <a href="lessthan5_subcategory_aea.html">Click here to fill the sub-category</a>
    <hr>
</div>

<table align="center" border="1" width="100%">
    <thead>
        <tr>
            <th>Academic Performance Parameters</th>
            <th colspan="20">Max. Score</th>
            <th colspan="20">Obtained Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Administrative Responsibilities (Departments & Institution level)</td>
            <td colspan="20">50</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Participation in Extension Activities (NSS, NCC, UBA, Yoga, etc.)</td>
            <td colspan="20">30</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Any other Achievement(Specify if any)</td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
    </tbody>
    <tfoot>
        <th colspan="30" rowspan="5">Total: </th>
    </tfoot>
    
</table>
<div class="acad" style="text-align: center;">
    <hr>
        <h3>Rating by HoD, Director & Principal - 100</h3>
    <hr>
</div>

<table align="center" border="1" width="100%">
    <thead>
        <tr>
            <th>Parameters</th>
            <th colspan="20">HoD</th>
            <th colspan="20">Director</th>
            <th colspan="20">Max. Score</th>
            <th colspan="20">Obtained Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dedication and Taking responsibility by self</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Document Maintenance and regular Updation</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Involvement towards department development</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Completion of work on time without follow up</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Rating by Principal / Management</td>
            <td colspan="20">20</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
        </tr>

    </tbody>
    <tfoot>
        <th colspan="30" rowspan="5">Total: </th>
    </tfoot>
    
</table>
<div class="acad" style="text-align: center;">
    <br>
        <h2>FACULTY PERFORMANCE APPRAISAL CONSOLIDATED SCORE</h2>
    <br>
</div>

<table align="center" border="1" width="100%">
    <thead>
        <tr>
            <th>Category</th>
            <th colspan="20">Max. Score</th>
            <th colspan="20">Min. Target</th>
            <th colspan="20">Score Obtained</th>
            <th colspan="20">Achivement of Target (Yes/No)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Academic Activities</td>
            <td colspan="20">400</td>
            <td colspan="20">280</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20"><input type="checkbox" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Skill Development Activities</td>
            <td colspan="20">200</td>
            <td colspan="20">120</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20"><input type="checkbox" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Research & Development Activities</td>
            <td colspan="20">200</td>
            <td colspan="20">120</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20"><input type="checkbox" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Administrative and Extension Activities</td>
            <td colspan="20">100</td>
            <td colspan="20">65</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20"><input type="checkbox" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Rating by HoD, Director and Principal</td>
            <td colspan="20">100</td>
            <td colspan="20">65</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20"><input type="checkbox" style="width: 30px;" name="marks" required></td>
        </tr>
        <tr>
            <td>Total</td>
            <td colspan="20">1000</td>
            <td colspan="20">650</td>
            <td colspan="20"><input type="number" style="width: 30px;" name="marks" required></td>
            <td colspan="20"><input type="checkbox" style="width: 30px;" name="marks" required></td>
        </tr>
    
    </tbody>
    <tfoot>
        <th colspan="30" rowspan="5">Consolidated Percentage: </th>
        <th colspan="30" rowspan="5">Overall Percentage: </th>
    </tfoot>
    
</table>
<div class="note">
    <h4>Note:</h4>
    <h4>Overall Performance is generated based on the following conditions:</h4>
    <li>If total consolidated score % is <b>85%</b> and above then the result is <b>EXCELLENT</b></li>
    <li>If total consolidated score % is <b>75%</b> and above then the result is <b>VERY GOOD</b></li>
    <li>If total consolidated score % is <b>65%</b> and above then the result is <b>GOOD</b></li>
    <li>If total consolidated score % is <b>60%</b> and above then the result is <b>SATISFACTORY</b></li>
    <li>If total consolidated score % is <b>below 60%</b> and then the result is <b>POOR</b></li>
</div>