th, td {
    border: 1px solid black;
    border-radius: 3px;
  }

  .form-group .btn
  {
      width:100%;
      padding:8px 10px;
      font-size:15px;
      border:0;
      margin-top: 15px;
      background-color:#010505;
      color:white;
      cursor:pointer;
      border-radius:3px;
      outline:none;

  }