.container{
	max-width: 500px;
	width: 100%;
    overflow-x:hidden;
    height:auto;
	border-radius: var(--button-radius);
	border-color: #008997;
	background-color: var(--white);
	padding: 30px;
	box-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}
.container .title
{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 25px;
	color: var(--blue);
	text-transform: uppercase;
	text-align: center;

}
.container .form .form-group
{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}
.container .form .form-group label{
	width: 200px;
	margin-right: 10px;
	font-style: sans-serif;
	font-size: 14px;
	font-weight: 700;
}
.container .form .form-group .form-control{
	width: 100%;
	outline:none;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
	transition: all 0.5s ease;
	background-color: #fff;
	border: 1px solid;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
}
.container .form .form-group .form-control:focus{
	border: 1px solid black;
}
.container .form .form-group .btn
{
	width: 100%;
	border: 0;
	outline: none;
	background-color: var(--blue);
	background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
	border-radius: 20px;
	border: 1px solid var(--blue);
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.invalid-feedback {
    display: contents;
    font-size: 11px;
    color: red;
}